name: ci

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'

    - run: npm install
    - run: npm run lint

  deploy:
    needs: [lint]
    if: "success() && startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'

    - run: npm install -g vsce
    - run: vsce ls
    - run: vsce package
    - run: vsce publisher --githubBranch main --no-git-tag-version
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
